In [1]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
var=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")
var

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\2694262972.py:1: SyntaxWarning: invalid escape sequence '\W'
  var=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001003,1.0,4583.0,1508.0,128.0,360,1
1,LP001005,0.0,3000.0,0.0,66.0,360,1
2,LP001006,0.0,2583.0,2358.0,120.0,360,1
3,LP001008,0.0,6000.0,0.0,141.0,360,1
4,LP001013,0.0,2333.0,1516.0,95.0,360,1
5,LP001024,2.0,3200.0,700.0,70.0,360,1
6,LP001027,2.0,2500.0,1840.0,109.0,360,1
7,LP001029,0.0,1853.0,2840.0,114.0,360,1
8,LP001030,2.0,1299.0,1086.0,17.0,120,1
9,LP001032,0.0,4950.0,NaN,125.0,360,1
10,LP001034,1.0,3596.0,NaN,100.0,240,NaN
11,LP001036,0.0,3510.0,NaN,76.0,360,0
12,LP001038,0.0,4887.0,NaN,133.0,360,1
13,LP001041,0.0,2600.0,NaN,115.0,NaN,1
14,LP001043,0.0,7660.0,NaN,104.0,360,0
15,LP001047,0.0,2600.0,1911.0,116.0,360,0
16,LP001050,2.0,3365.0,1917.0,112.0,360,0
17,LP001068,0.0,2799.0,2253.0,122.0,360,1
18,LP001073,2.0,4226.0,1040.0,110.0,360,1
19,LP001086,0.0,1442.0,0.0,35.0,360,1
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,0.0,3167.0,0.0,1.0,Urban,N
22,LP001097,1.0,4692.0,0.0,106.0,360,1

In [15]:
var.interpolate()

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\873042847.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001003,1.0,4583.0,1508.000000,128.0,360,1
1,LP001005,0.0,3000.0,0.000000,66.0,360,1
2,LP001006,0.0,2583.0,2358.000000,120.0,360,1
3,LP001008,0.0,6000.0,0.000000,141.0,360,1
4,LP001013,0.0,2333.0,1516.000000,95.0,360,1
5,LP001024,2.0,3200.0,700.000000,70.0,360,1
6,LP001027,2.0,2500.0,1840.000000,109.0,360,1
7,LP001029,0.0,1853.0,2840.000000,114.0,360,1
8,LP001030,2.0,1299.0,1086.000000,17.0,120,1
9,LP001032,0.0,4950.0,1203.857143,125.0,360,1
10,LP001034,1.0,3596.0,1321.714286,100.0,240,NaN
11,LP001036,0.0,3510.0,1439.571429,76.0,360,0
12,LP001038,0.0,4887.0,1557.428571,133.0,360,1
13,LP001041,0.0,2600.0,1675.285714,115.0,NaN,1
14,LP001043,0.0,7660.0,1793.142857,104.0,360,0
15,LP001047,0.0,2600.0,1911.000000,116.0,360,0
16,LP001050,2.0,3365.0,1917.000000,112.0,360,0
17,LP001068,0.0,2799.0,2253.000000,122.0,360,1
18,LP001073,2.0,4226.0,1040.000000,110.0,360,1
19,LP001086,0.0,1442.0,0.000000,35.0,360,1
20,NaN,0.0,2304.5,0.000000,18.0,NaN,NaN
21,LP001095,0.0,3167.0,0.000000,1.0,Urban,N
22,LP001097,1.0,4692.0,0.000000,106.0,360,1

In [19]:
var.interpolate(method="linear")

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\906631510.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear")

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001003,1.0,4583.0,1508.000000,128.0,360,1
1,LP001005,0.0,3000.0,0.000000,66.0,360,1
2,LP001006,0.0,2583.0,2358.000000,120.0,360,1
3,LP001008,0.0,6000.0,0.000000,141.0,360,1
4,LP001013,0.0,2333.0,1516.000000,95.0,360,1
5,LP001024,2.0,3200.0,700.000000,70.0,360,1
6,LP001027,2.0,2500.0,1840.000000,109.0,360,1
7,LP001029,0.0,1853.0,2840.000000,114.0,360,1
8,LP001030,2.0,1299.0,1086.000000,17.0,120,1
9,LP001032,0.0,4950.0,1203.857143,125.0,360,1
10,LP001034,1.0,3596.0,1321.714286,100.0,240,NaN
11,LP001036,0.0,3510.0,1439.571429,76.0,360,0
12,LP001038,0.0,4887.0,1557.428571,133.0,360,1
13,LP001041,0.0,2600.0,1675.285714,115.0,NaN,1
14,LP001043,0.0,7660.0,1793.142857,104.0,360,0
15,LP001047,0.0,2600.0,1911.000000,116.0,360,0
16,LP001050,2.0,3365.0,1917.000000,112.0,360,0
17,LP001068,0.0,2799.0,2253.000000,122.0,360,1
18,LP001073,2.0,4226.0,1040.000000,110.0,360,1
19,LP001086,0.0,1442.0,0.000000,35.0,360,1
20,NaN,0.0,2304.5,0.000000,18.0,NaN,NaN
21,LP001095,0.0,3167.0,0.000000,1.0,Urban,N
22,LP001097,1.0,4692.0,0.000000,106.0,360,1

In [20]:
var.interpolate(method="linear",axis=0)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\3195347084.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear",axis=0)

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001003,1.0,4583.0,1508.000000,128.0,360,1
1,LP001005,0.0,3000.0,0.000000,66.0,360,1
2,LP001006,0.0,2583.0,2358.000000,120.0,360,1
3,LP001008,0.0,6000.0,0.000000,141.0,360,1
4,LP001013,0.0,2333.0,1516.000000,95.0,360,1
5,LP001024,2.0,3200.0,700.000000,70.0,360,1
6,LP001027,2.0,2500.0,1840.000000,109.0,360,1
7,LP001029,0.0,1853.0,2840.000000,114.0,360,1
8,LP001030,2.0,1299.0,1086.000000,17.0,120,1
9,LP001032,0.0,4950.0,1203.857143,125.0,360,1
10,LP001034,1.0,3596.0,1321.714286,100.0,240,NaN
11,LP001036,0.0,3510.0,1439.571429,76.0,360,0
12,LP001038,0.0,4887.0,1557.428571,133.0,360,1
13,LP001041,0.0,2600.0,1675.285714,115.0,NaN,1
14,LP001043,0.0,7660.0,1793.142857,104.0,360,0
15,LP001047,0.0,2600.0,1911.000000,116.0,360,0
16,LP001050,2.0,3365.0,1917.000000,112.0,360,0
17,LP001068,0.0,2799.0,2253.000000,122.0,360,1
18,LP001073,2.0,4226.0,1040.000000,110.0,360,1
19,LP001086,0.0,1442.0,0.000000,35.0,360,1
20,NaN,0.0,2304.5,0.000000,18.0,NaN,NaN
21,LP001095,0.0,3167.0,0.000000,1.0,Urban,N
22,LP001097,1.0,4692.0,0.000000,106.0,360,1

In [24]:
var.interpolate(method="linear",limit=4)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_1860\3294035685.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear",limit=4)

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001003,1.0,4583.0,1508.000000,128.0,360,1
1,LP001005,0.0,3000.0,0.000000,66.0,360,1
2,LP001006,0.0,2583.0,2358.000000,120.0,360,1
3,LP001008,0.0,6000.0,0.000000,141.0,360,1
4,LP001013,0.0,2333.0,1516.000000,95.0,360,1
5,LP001024,2.0,3200.0,700.000000,70.0,360,1
6,LP001027,2.0,2500.0,1840.000000,109.0,360,1
7,LP001029,0.0,1853.0,2840.000000,114.0,360,1
8,LP001030,2.0,1299.0,1086.000000,17.0,120,1
9,LP001032,0.0,4950.0,1203.857143,125.0,360,1
10,LP001034,1.0,3596.0,1321.714286,100.0,240,NaN
11,LP001036,0.0,3510.0,1439.571429,76.0,360,0
12,LP001038,0.0,4887.0,1557.428571,133.0,360,1
13,LP001041,0.0,2600.0,NaN,115.0,NaN,1
14,LP001043,0.0,7660.0,NaN,104.0,360,0
15,LP001047,0.0,2600.0,1911.000000,116.0,360,0
16,LP001050,2.0,3365.0,1917.000000,112.0,360,0
17,LP001068,0.0,2799.0,2253.000000,122.0,360,1
18,LP001073,2.0,4226.0,1040.000000,110.0,360,1
19,LP001086,0.0,1442.0,0.000000,35.0,360,1
20,NaN,0.0,2304.5,0.000000,18.0,NaN,NaN
21,LP001095,0.0,3167.0,0.000000,1.0,Urban,N
22,LP001097,1.0,4692.0,0.000000,106.0,360,1

In [25]:
var.iloc[17,3]

2253.0

In [30]:
var.loc[2,"Dependents"]="Allah is bet creator"
var

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,2,1
0,LP001003,1.0,4583.0,1508.0,128.0,360,1,NaN,NaN
1,LP001005,0.0,3000.0,0.0,66.0,360,1,NaN,NaN
2,LP001006,Allah is bet creator,2583.0,2358.0,120.0,360,1,NaN,Allah is bet creator
3,LP001008,0.0,6000.0,0.0,141.0,360,1,NaN,NaN
4,LP001013,0.0,2333.0,1516.0,95.0,360,1,NaN,NaN
5,LP001024,2.0,3200.0,700.0,70.0,360,1,NaN,NaN
6,LP001027,2.0,2500.0,1840.0,109.0,360,1,NaN,NaN
7,LP001029,0.0,1853.0,2840.0,114.0,360,1,NaN,NaN
8,LP001030,2.0,1299.0,1086.0,17.0,120,1,NaN,NaN
9,LP001032,0.0,4950.0,NaN,125.0,360,1,NaN,NaN
10,LP001034,1.0,3596.0,NaN,100.0,240,NaN,NaN,NaN
11,LP001036,0.0,3510.0,NaN,76.0,360,0,NaN,NaN
12,LP001038,0.0,4887.0,NaN,133.0,360,1,NaN,NaN
13,LP001041,0.0,2600.0,NaN,115.0,NaN,1,NaN,NaN
14,LP001043,0.0,7660.0,NaN,104.0,360,0,NaN,NaN
15,LP001047,0.0,2600.0,1911.0,116.0,360,0,NaN,NaN
16,LP001050,2.0,3365.0,1917.0,112.0,360,0,NaN,NaN
17,LP001068,0.0,2799.0,2253.0,122.0,360,1,NaN,NaN
18,LP001073,2.0,4226.0,1040.0,110.0,360,1,NaN,NaN
19,LP001086,0.0,1442.0,0.0,35.0,360,1,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,0.0,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,1.0,4692.0,0.0,106.0,360,1,NaN,NaN
Dependents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Allah is bet creator,NaN