In [1]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
r=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")
r

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\1049469624.py:1: SyntaxWarning: invalid escape sequence '\W'
  r=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [3]:
# r.dropna()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N

In [5]:
# r.dropna(axis=0)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N

In [9]:
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [10]:
r.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [12]:
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [14]:
# r.dropna(subset=["Self_Employed"])
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [16]:
r.dropna(thresh=2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

                                                                    NOw fillna

In [17]:
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [18]:
# r.fillna(1)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,1,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,1,2600.0,3500.0,115.0,1,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,1,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,1,1,1,1.0,1,1,1.0,1.0,1.0,1,1,1,1
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,1,1
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,1

In [20]:
# r.fillna({
#     "Self_Employed":"yes",
#     "Credit_History":"1"
# })
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [21]:
# r.fillna(method='ffill')

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\4128771234.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  r.fillna(method='ffill')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,No,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,No,2600.0,3500.0,115.0,360,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,Male,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,Urban,N
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,N

In [22]:
# r.fillna(method='bfill')

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\179706734.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  r.fillna(method='bfill')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,No,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,0,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,No,2600.0,3500.0,115.0,360,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,Male,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,Rural,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,Rural,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [23]:
r.fillna(method='ffill',axis=0)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\2616060393.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  r.fillna(method='ffill',axis=0)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,No,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,No,2600.0,3500.0,115.0,360,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,Male,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,Urban,N
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,N

In [24]:
r.fillna(method='ffill',axis=1)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\498813097.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  r.fillna(method='ffill',axis=1)
C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_9300\498813097.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  r.fillna(method='ffill',axis=1)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,Graduate,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,240,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,Graduate,2600.0,3500.0,115.0,115.0,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,LP001050,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,N,N
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,Rural

r

In [ ]:
r.fillna("")