In [2]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_8204\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [51]:
var=pd.read_csv("C:\\Users\\Waris Hayyat\\Desktop\\Pandas Work\\colombo_cafes.csv")

In [52]:
var

,title,totalScore,reviewsCount,street,city,countryCode,website,phone,categoryName
0,Coco Cafe- Street Star,4.600000,11,"VVQ5+326, Elfindale Ave",Colombo,LK,https://www.facebook.com/cococafe.lk?mibextid=...,+94 76 777 2225,Cafe
1,Cafe Celo09,4.258885,0,VVRC+8M5,Colombo,LK,NaN,NaN,Coffee shop
2,Cafe 1959 by Raux Brothers,4.400000,248,746 Galle Rd,Colombo,LK,https://cafe-1959-by-raux-brothers.business.si...,+94 112 590 520,Coffee shop
3,Cafe Lab,2.800000,8,NaN,Colombo,LK,NaN,+94 78 810 0800,Coffee shop
4,The Nook Cakery and Cafe,4.900000,34,29 Visakha Private Rd,Colombo,LK,NaN,NaN,Coffee shop
...,...,...,...,...,...,...,...,...,...
338,Cafe 7 To 7,4.600000,5,"WV27+VF7, Prof Stanley Wijesundera Mawatha",Colombo,LK,NaN,NaN,Restaurant
339,Rakna Lanka Cafe,3.000000,5,"WV93+RCF, Nawam Mawatha",Colombo,LK,NaN,NaN,Bakery
340,The King Cafe,4.500000,8,XV9C+RRM,Colombo,LK,NaN,+94 77 841 0410,Restaurant
341,Cafe Longdon,4.700000,52,6 Malalasekara Mawatha,Colombo,LK,NaN,NaN,Cafe
342,Busy Bean Cafe,3.900000,55,Race Course Ave,Colombo,LK,http://thebusybean.lk/,+94 76 982 9726,Cafe

In [53]:
var.isnull().sum()

title             0
totalScore        0
reviewsCount      0
street            3
city              0
countryCode       0
website         246
phone           101
categoryName      0
dtype: int64

In [54]:
var.drop(columns=["website","phone"],inplace=True)

In [55]:
var

,title,totalScore,reviewsCount,street,city,countryCode,categoryName
0,Coco Cafe- Street Star,4.600000,11,"VVQ5+326, Elfindale Ave",Colombo,LK,Cafe
1,Cafe Celo09,4.258885,0,VVRC+8M5,Colombo,LK,Coffee shop
2,Cafe 1959 by Raux Brothers,4.400000,248,746 Galle Rd,Colombo,LK,Coffee shop
3,Cafe Lab,2.800000,8,NaN,Colombo,LK,Coffee shop
4,The Nook Cakery and Cafe,4.900000,34,29 Visakha Private Rd,Colombo,LK,Coffee shop
...,...,...,...,...,...,...,...
338,Cafe 7 To 7,4.600000,5,"WV27+VF7, Prof Stanley Wijesundera Mawatha",Colombo,LK,Restaurant
339,Rakna Lanka Cafe,3.000000,5,"WV93+RCF, Nawam Mawatha",Colombo,LK,Bakery
340,The King Cafe,4.500000,8,XV9C+RRM,Colombo,LK,Restaurant
341,Cafe Longdon,4.700000,52,6 Malalasekara Mawatha,Colombo,LK,Cafe
342,Busy Bean Cafe,3.900000,55,Race Course Ave,Colombo,LK,Cafe

In [56]:
var.isnull().sum()

title           0
totalScore      0
reviewsCount    0
street          3
city            0
countryCode     0
categoryName    0
dtype: int64

In [57]:
var.dropna(inplace=True)

In [58]:
var

,title,totalScore,reviewsCount,street,city,countryCode,categoryName
0,Coco Cafe- Street Star,4.600000,11,"VVQ5+326, Elfindale Ave",Colombo,LK,Cafe
1,Cafe Celo09,4.258885,0,VVRC+8M5,Colombo,LK,Coffee shop
2,Cafe 1959 by Raux Brothers,4.400000,248,746 Galle Rd,Colombo,LK,Coffee shop
4,The Nook Cakery and Cafe,4.900000,34,29 Visakha Private Rd,Colombo,LK,Coffee shop
5,De Vos Cafe,4.400000,95,34 De Vos Ave,Colombo,LK,Cafe
...,...,...,...,...,...,...,...
338,Cafe 7 To 7,4.600000,5,"WV27+VF7, Prof Stanley Wijesundera Mawatha",Colombo,LK,Restaurant
339,Rakna Lanka Cafe,3.000000,5,"WV93+RCF, Nawam Mawatha",Colombo,LK,Bakery
340,The King Cafe,4.500000,8,XV9C+RRM,Colombo,LK,Restaurant
341,Cafe Longdon,4.700000,52,6 Malalasekara Mawatha,Colombo,LK,Cafe
342,Busy Bean Cafe,3.900000,55,Race Course Ave,Colombo,LK,Cafe

In [59]:
var.title.value_counts()

title
Cafe nine                     2
Cafe Celo09                   2
The Coffee Bean & Tea Leaf    2
Bun Break                     2
Everyday Bakery & Cafe        2
                             ..
Il CaffÃ¨                      1
Spice Cafe & Bakers           1
PJ's Cafe                     1
Colombo Foods                 1
Busy Bean Cafe                1
Name: count, Length: 335, dtype: int64

In [60]:
var.countryCode.value_counts()

countryCode
LK    340
Name: count, dtype: int64

In [61]:
var.drop(columns=["countryCode"],inplace=True)

In [62]:
var

,title,totalScore,reviewsCount,street,city,categoryName
0,Coco Cafe- Street Star,4.600000,11,"VVQ5+326, Elfindale Ave",Colombo,Cafe
1,Cafe Celo09,4.258885,0,VVRC+8M5,Colombo,Coffee shop
2,Cafe 1959 by Raux Brothers,4.400000,248,746 Galle Rd,Colombo,Coffee shop
4,The Nook Cakery and Cafe,4.900000,34,29 Visakha Private Rd,Colombo,Coffee shop
5,De Vos Cafe,4.400000,95,34 De Vos Ave,Colombo,Cafe
...,...,...,...,...,...,...
338,Cafe 7 To 7,4.600000,5,"WV27+VF7, Prof Stanley Wijesundera Mawatha",Colombo,Restaurant
339,Rakna Lanka Cafe,3.000000,5,"WV93+RCF, Nawam Mawatha",Colombo,Bakery
340,The King Cafe,4.500000,8,XV9C+RRM,Colombo,Restaurant
341,Cafe Longdon,4.700000,52,6 Malalasekara Mawatha,Colombo,Cafe
342,Busy Bean Cafe,3.900000,55,Race Course Ave,Colombo,Cafe

In [63]:
var.city.value_counts()

city
Colombo                      331
Nugegoda                       1
Urugodawatta                   1
Sri Jayawardenepura Kotte      1
Kegalle                        1
Colpetty                       1
Port City Colombo              1
nedolakanda                    1
Kaduwela                       1
Mall                           1
Name: count, dtype: int64

In [64]:
var.categoryName.value_counts()

categoryName
Cafe                               161
Coffee shop                         72
Restaurant                          56
Bakery                               7
Vegetarian restaurant                5
Tea house                            3
Fast food restaurant                 3
Sri Lankan restaurant                2
Takeout Restaurant                   2
Pastry shop                          2
Asian restaurant                     2
Ice cream shop                       2
Indian restaurant                    1
North Eastern Indian restaurant      1
Cake shop                            1
Authentic Japanese restaurant        1
Bar                                  1
Dessert shop                         1
Fusion restaurant                    1
Grocery store                        1
Print shop                           1
Art cafe                             1
Pizza restaurant                     1
Game store                           1
Coffee store                         1
Korean restaurant                    1
Soup shop                            1
Lounge                               1
Video game store                     1
Dog cafe                             1
Brunch restaurant                    1
Family restaurant                    1
Cafeteria                            1
Juice shop                           1
Sports bar                           1
Name: count, dtype: int64

In [65]:
var.drop(columns=["categoryName"],inplace=True)

In [66]:
var

,title,totalScore,reviewsCount,street,city
0,Coco Cafe- Street Star,4.600000,11,"VVQ5+326, Elfindale Ave",Colombo
1,Cafe Celo09,4.258885,0,VVRC+8M5,Colombo
2,Cafe 1959 by Raux Brothers,4.400000,248,746 Galle Rd,Colombo
4,The Nook Cakery and Cafe,4.900000,34,29 Visakha Private Rd,Colombo
5,De Vos Cafe,4.400000,95,34 De Vos Ave,Colombo
...,...,...,...,...,...
338,Cafe 7 To 7,4.600000,5,"WV27+VF7, Prof Stanley Wijesundera Mawatha",Colombo
339,Rakna Lanka Cafe,3.000000,5,"WV93+RCF, Nawam Mawatha",Colombo
340,The King Cafe,4.500000,8,XV9C+RRM,Colombo
341,Cafe Longdon,4.700000,52,6 Malalasekara Mawatha,Colombo
342,Busy Bean Cafe,3.900000,55,Race Course Ave,Colombo

In [70]:
var.street.value_counts()

street
137 Sir James Pieris Mawatha           2
8 Stratford Ave                        2
30 Prof Stanley Wijesundera Mawatha    2
318 Torrington Ave                     2
105 Bauddhaloka Mawatha                2
                                      ..
30 Hyde Park Corner                    1
City Center                            1
7 Park Rd                              1
No. 10 R. A. De Mel Mawatha            1
Race Course Ave                        1
Name: count, Length: 331, dtype: int64

In [71]:
var.city.value_counts()

city
Colombo                      331
Nugegoda                       1
Urugodawatta                   1
Sri Jayawardenepura Kotte      1
Kegalle                        1
Colpetty                       1
Port City Colombo              1
nedolakanda                    1
Kaduwela                       1
Mall                           1
Name: count, dtype: int64

In [72]:
var.drop(columns=["city","street"],inplace=True)

In [73]:
var

                          title  totalScore  reviewsCount
0        Coco Cafe- Street Star    4.600000            11
1                   Cafe Celo09    4.258885             0
2    Cafe 1959 by Raux Brothers    4.400000           248
4      The Nook Cakery and Cafe    4.900000            34
5                   De Vos Cafe    4.400000            95
..                          ...         ...           ...
338                 Cafe 7 To 7    4.600000             5
339            Rakna Lanka Cafe    3.000000             5
340               The King Cafe    4.500000             8
341                Cafe Longdon    4.700000            52
342              Busy Bean Cafe    3.900000            55

[340 rows x 3 columns]

In [74]:
var.describe()

       totalScore  reviewsCount
count  340.000000    340.000000
mean     4.262934    189.550000
std      0.596740    482.342612
min      1.000000      0.000000
25%      4.100000      1.000000
50%      4.258885     10.000000
75%      4.600000     95.000000
max      5.000000   3505.000000

In [76]:
var.shape[0]

340

                                        Now we will apply the mechine larning model on the data