In [1]:
import pandas as pd

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
r=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")
r

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\1049469624.py:1: SyntaxWarning: invalid escape sequence '\W'
  r=pd.read_csv("C:\\Users\Waris Hayyat\\Desktop\\Pandas Work\\loan_data1.csv")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,1,Rural,NaN

In [14]:
r.replace(to_replace="360",value="1")
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,1,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,1,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,1,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,1,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,1,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,1,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,1,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,1,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,1,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,1,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,1,1,Rural,NaN

In [28]:
r.replace("[A-Z,a-z]","python",regex=True)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,pythonpython001003,pythonpythonpythonpython,pythonpythonpython,1.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,4583.0,1508.0,128.0,1,1,pythonpythonpythonpythonpython,python
1,pythonpython001005,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpython,3000.0,0.0,66.0,1,1,pythonpythonpythonpythonpython,python
2,pythonpython001006,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,2583.0,2358.0,120.0,1,1,pythonpythonpythonpythonpython,python
3,pythonpython001008,pythonpythonpythonpython,pythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,6000.0,0.0,141.0,1,1,pythonpythonpythonpythonpython,python
4,pythonpython001013,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,2333.0,1516.0,95.0,1,1,pythonpythonpythonpythonpython,python
5,pythonpython001024,pythonpythonpythonpython,pythonpythonpython,2.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,3200.0,700.0,70.0,1,1,pythonpythonpythonpythonpython,python
6,pythonpython001027,pythonpythonpythonpython,pythonpythonpython,2.0,pythonpythonpythonpythonpythonpythonpythonpython,NaN,2500.0,1840.0,109.0,1,1,pythonpythonpythonpythonpython,python
7,pythonpython001029,pythonpythonpythonpython,pythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,1853.0,2840.0,114.0,1,1,pythonpythonpythonpythonpython,python
8,pythonpython001030,pythonpythonpythonpython,pythonpythonpython,2.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,1299.0,1086.0,17.0,120,1,pythonpythonpythonpythonpython,python
9,pythonpython001032,pythonpythonpythonpython,pythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,4950.0,0.0,125.0,1,1,pythonpythonpythonpythonpython,python
10,pythonpython001034,pythonpythonpythonpython,pythonpython,1.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,3596.0,0.0,100.0,240,NaN,pythonpythonpythonpythonpython,python
11,pythonpython001036,pythonpythonpythonpythonpythonpython,pythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,3510.0,0.0,76.0,1,0,pythonpythonpythonpythonpython,python
12,pythonpython001038,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,4887.0,0.0,133.0,1,1,pythonpythonpythonpythonpython,python
13,pythonpython001041,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,NaN,2600.0,3500.0,115.0,NaN,1,pythonpythonpythonpythonpython,python
14,pythonpython001043,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,7660.0,0.0,104.0,1,0,pythonpythonpythonpythonpython,python
15,pythonpython001047,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,2600.0,1911.0,116.0,1,0,pythonpythonpythonpythonpythonpythonpythonpyth...,python
16,pythonpython001050,NaN,pythonpythonpython,2.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,3365.0,1917.0,112.0,1,0,pythonpythonpythonpythonpython,python
17,pythonpython001068,pythonpythonpythonpython,pythonpythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,2799.0,2253.0,122.0,1,1,pythonpythonpythonpythonpythonpythonpythonpyth...,python
18,pythonpython001073,pythonpythonpythonpython,pythonpythonpython,2.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,4226.0,1040.0,110.0,1,1,pythonpythonpythonpythonpython,python
19,pythonpython001086,pythonpythonpythonpython,pythonpython,0.0,pythonpythonpython pythonpythonpythonpythonpyt...,pythonpython,1442.0,0.0,35.0,1,1,pythonpythonpythonpythonpython,python
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,pythonpython001095,pythonpythonpythonpython,pythonpython,0.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpython,3167.0,0.0,1.0,pythonpythonpythonpythonpython,python,NaN,NaN
22,pythonpython001097,pythonpythonpythonpython,pythonpython,1.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpython,4692.0,0.0,106.0,1,1,pythonpythonpythonpythonpython,NaN

In [22]:
r.replace({"Gender":"[A-Z,a-z]"},22,regex=True)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\2931942202.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  r.replace({"Gender":"[A-Z,a-z]"},22,regex=True)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,22.0,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,22.0,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,22.0,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,22.0,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,22.0,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,22.0,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
6,LP001027,22.0,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,1,1,Urban,Y
7,LP001029,22.0,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,22.0,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,22.0,No,0.0,Graduate,No,4950.0,0.0,125.0,1,1,Urban,Y
10,LP001034,22.0,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,22.0,No,0.0,Graduate,No,3510.0,0.0,76.0,1,0,Urban,N
12,LP001038,22.0,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,1,1,Rural,N
13,LP001041,22.0,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,22.0,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,1,0,Urban,N
15,LP001047,22.0,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,1,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,1,0,Rural,N
17,LP001068,22.0,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,1,1,Semiurban,Y
18,LP001073,22.0,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,1,1,Urban,Y
19,LP001086,22.0,No,0.0,Not Graduate,No,1442.0,0.0,35.0,1,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,22.0,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,22.0,No,1.0,Graduate,Yes,4692.0,0.0,106.0,1,1,Rural,NaN

In [23]:
r.replace("1","360")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360,360,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360,360,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,360,360,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,360,360,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,360,360,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,360,360,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,360,360,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,360,360,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,360,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,360,360,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,360,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,360,360,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,360,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,360,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,360,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,360,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,360,360,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,360,360,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,360,360,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,360,360,Rural,NaN

In [24]:
r.replace("1",method="ffill")

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\3283945173.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  r.replace("1",method="ffill")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,1,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,120,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,240,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,240,0,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,0,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,NaN,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,NaN,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,NaN,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,NaN,0,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,NaN,0,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,NaN,0,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,Urban,N,Rural,NaN

In [25]:
r.replace("1",method="bfill")

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\3615487833.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  r.replace("1",method="bfill")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,120,NaN,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,120,NaN,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,120,NaN,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,120,NaN,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,120,NaN,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,120,NaN,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,120,NaN,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,120,NaN,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,NaN,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,240,NaN,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,NaN,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,NaN,0,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,0,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,NaN,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,NaN,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,NaN,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,NaN,NaN,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,NaN,NaN,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,NaN,NaN,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,1,1,Rural,NaN

In [26]:
r.replace("1",method="ffill",limit=2)

C:\Users\Waris Hayyat\AppData\Local\Temp\ipykernel_2368\3195519868.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  r.replace("1",method="ffill",limit=2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,1,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,120,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,240,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,240,0,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,0,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,NaN,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,NaN,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,1,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,1,0,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,1,0,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,1,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,Urban,N,Rural,NaN

In [29]:
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
6,LP001027,Male,Yes,2.0,Graduate,NaN,2500.0,1840.0,109.0,1,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,1,1,Urban,Y
10,LP001034,Male,No,1.0,Not Graduate,No,3596.0,0.0,100.0,240,NaN,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,1,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,1,1,Rural,N
13,LP001041,Male,Yes,0.0,Graduate,NaN,2600.0,3500.0,115.0,NaN,1,Urban,Y
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,1,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,1,0,Semiurban,N
16,LP001050,NaN,Yes,2.0,Not Graduate,No,3365.0,1917.0,112.0,1,0,Rural,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,1,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,1,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,1,1,Urban,N
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LP001095,Male,No,0.0,Graduate,No,3167.0,0.0,1.0,Urban,N,NaN,NaN
22,LP001097,Male,No,1.0,Graduate,Yes,4692.0,0.0,106.0,1,1,Rural,NaN

In [32]:
r.dropna(inplace=True)
r

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,1,1,Rural,N
1,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,1,1,Urban,Y
2,LP001006,Male,Yes,0.0,Not Graduate,No,2583.0,2358.0,120.0,1,1,Urban,Y
3,LP001008,Male,No,0.0,Graduate,No,6000.0,0.0,141.0,1,1,Urban,Y
4,LP001013,Male,Yes,0.0,Not Graduate,No,2333.0,1516.0,95.0,1,1,Urban,Y
5,LP001024,Male,Yes,2.0,Graduate,No,3200.0,700.0,70.0,1,1,Urban,Y
7,LP001029,Male,No,0.0,Graduate,No,1853.0,2840.0,114.0,1,1,Rural,N
8,LP001030,Male,Yes,2.0,Graduate,No,1299.0,1086.0,17.0,120,1,Urban,Y
9,LP001032,Male,No,0.0,Graduate,No,4950.0,0.0,125.0,1,1,Urban,Y
11,LP001036,Female,No,0.0,Graduate,No,3510.0,0.0,76.0,1,0,Urban,N
12,LP001038,Male,Yes,0.0,Not Graduate,No,4887.0,0.0,133.0,1,1,Rural,N
14,LP001043,Male,Yes,0.0,Not Graduate,No,7660.0,0.0,104.0,1,0,Urban,N
15,LP001047,Male,Yes,0.0,Not Graduate,No,2600.0,1911.0,116.0,1,0,Semiurban,N
17,LP001068,Male,Yes,0.0,Graduate,No,2799.0,2253.0,122.0,1,1,Semiurban,Y
18,LP001073,Male,Yes,2.0,Not Graduate,No,4226.0,1040.0,110.0,1,1,Urban,Y
19,LP001086,Male,No,0.0,Not Graduate,No,1442.0,0.0,35.0,1,1,Urban,N